@{
    ViewData["Title"] = "Home Page";
}
<div align="right">
<a href="/Registration/Login" style="text-anchor:end" class="btn btn-primary">Log In</a>
<a href="/Registration/SignUP" style="text-anchor:end" class="btn btn-primary">Sign Up</a>
</div>
<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
