
@{
    ViewData["Title"] = "Forgot Passsword";
}
<div align="center">
    <h1>Password Recovery</h1>
    <hr />
    <div class="col-md-3">
        <form asp-action="ForgotPassword">

            <div class="form-control">
                <br />
                <input name="Email" placeholder="Enter Email" class="form-control" required />
                <br/>
            </div>
            
           
            <div class="form-group">
                <br />
                <input type="submit" value="Send Verification Code" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>