@{
    ViewData["Title"] = "Verification";
}
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
    }
</style>
<div align="center">
    <h1>Security Verification</h1>
    <hr />
    <div class="col-md-3">
        <form asp-action="SecurityVerification">

            <div class="form-control">
                <br />
                <input name="Code"  type="number" placeholder="Enter Security Code" class="form-control" required />
                <br />
            </div>
            <div class="form-group">
                <a asp-action="SendEmail">Resend code</a><br/>
                <br />
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
 
    </div>
</div>