@{
    ViewData["Title"] = "Verification";
}
<div align="center">
    <h1>Security Verification</h1>
    <hr />
    <div class="col-md-3">
        <form asp-action="SecurityVerification">

            <div class="form-control">
                <br />
                <input name="Code" placeholder="Enter Security Code" class="form-control" required/>
                <br />
            </div>


            <div class="form-group">
                <br />
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>